@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: hsl(30, 38%, 92%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    background-color:  hsl(30, 38%, 92%);
    width: 90%;
    height: 38rem;
    margin: 2rem 5rem;
}

.product{
    display: flex;
    padding: 5rem 22%;
    height: 40rem;
}

.info{
    background-color: white;
    padding: 2rem;
    line-height: 1.5;
    width: 20rem;
    font-size: 14px;
}

.image .mobile{
    display: none;
}

.txt{
    font-family: 'Monteserrat';
    padding: 15px 0;
    opacity: 0.8;
}

.first{
    letter-spacing: 4px;
}

h2, .price1{
    font-size: 30px;
    font-weight: 700;
    font-family: 'Fraunces';
    line-height: 1;
}

.second{
    letter-spacing: 1px;
    line-height: 2;
}

.price1{
    color: hsl(158, 36%, 37%);
    display: inline;
}

.price2{
    text-decoration: line-through;
    display: inline;
    padding: 50px 0 50px 28%;
    opacity: 0.7;
}

button{
    background-color: hsl(158, 36%, 37%);
    border: none;
    padding: 10px;
    border-radius: 10px;
    color: white;
    width: 90%;
    margin: 25px 10px;
}

button:hover{
    cursor: pointer;
    font-size: 16px;
    background-color: hsl(158, 36%, 37%);
}

@media (max-width:700px){
    .container{
        width: 100%;
        height: 44rem;
        margin: 0 0 20px 0;
    }

    .product{
        flex-direction: column;
        padding: 20px 18px;
        margin-bottom: 20px;
        font-size: 13px;
    }

    .info{
        width: 100%;
        border-radius: 0 0 10px 10px;
        padding: 1.5rem;
    }

    .image .desktop{
        display: none;
    }

    .image .mobile{
        display: block;
        border-radius: 10px 10px 0 0 ;
    }

    h2, .price1{
        font-size: 33px;
    }

    button{
        margin: 13px 5px;
    }
    
}